/* Header */

#header {
    padding: 5em 5em 1em 5em ;
    text-align: center;
}

    #header h1 {
        margin: 0 0 0.25em 0;
    }

    #header p {
        font-size: 1.25em;
        letter-spacing: -0.025em;
    }

    #header.alt {
        padding: 7em 5em 4em 5em ;
    }

        #header.alt h1 {
            font-size: 6.25em;
        }

        #header.alt .logo img {
            display: block;
            margin: 0 auto;
            max-width: 75%;
        }

    @media screen and (max-width: 1280px) {

        #header {
            padding: 4em 4em 0.1em 4em ;
        }

            #header.alt {
                padding: 6em 4em 3em 4em ;
            }

    }

    @media screen and (max-width: 980px) {

        #header {
            padding: 4em 3em 0.1em 3em ;
        }

            #header.alt {
                padding: 5em 3em 2em 3em ;
            }

    }

    @media screen and (max-width: 736px) {

        #header {
            padding: 3em 2em 0.1em 2em ;
        }

            #header p {
                font-size: 0.7em;
                letter-spacing: 0;
            }

                #header p br {
                    display: none;
                }

            #header.alt {
                padding: 4em 2em 1em 2em ;
            }

                #header.alt h1 {
                    font-size: 2.5em;
                }

    }

    @media screen and (max-width: 480px) {

        #header {
            padding: 3em 1.5em 0.1em 1.5em ;
        }

            #header.alt {
                padding: 4em 1.5em 1em 1.5em ;
            }

    }

    @media screen and (max-width: 360px) {

        #header {
            padding: 2.5em 1em 0.1em 1em ;
        }

            #header.alt {
                padding: 3.5em 1em 0.5em 1em ;
            }

    }