<div class="quiz-container">
    <div id="quiz">
        <div class="slide active-slide">
            <div class="question"> Se o Danilo ganhasse na loteria, qual seria a primeira compra dele?
            </div>
            <div class="answers">
                <div *ngFor="let item of quiz">
                    <input type="radio" name="questionOne" id="{{item}}a" value="a">
                    <label for="{{item}}a">
                        {{item}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<a id="previous" class="button primary">Pergunta Anterior</a>
<a id="next" class="button primary">Próxima Pergunta</a>
<a id="submit" class="button success">Resultado</a>
<div id="results"></div>