<form #f="ngForm">
    <div id="quiz" class="form-group">
        <div class="question" *ngFor="let quizQuestions of quiz;let i = index">
            <div [hidden]="i != pageNumber">
                {{quizQuestions.question}}<br /><br />
                <div class="answers" ngModelGroup="{{'myGroup'+i}}">
                    <div *ngFor="let answers of quizQuestions.answers">
                        <input required type="radio" name="{{quizQuestions.id}}" ngModel
                            id="{{answers.answer+quizQuestions.id}}" value="{{answers.answer}}" class="form-control">
                        <label for="{{answers.answer+quizQuestions.id}}">
                            {{answers.answer}}
                        </label>
                    </div>
                    <div *ngIf="!isValid"><small style="color:red; font-size: smaller;">Selecione uma opção</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <p>{{f.value | json}}</p> -->
    <button id="previous" *ngIf="pageNumber != 0" (click)="previous()" class="button primary">Pergunta Anterior</button>
    <button id="next" *ngIf="pageNumber < quiz.length-1" (click)="next(f)" class="button primary">Próxima
        Pergunta</button>
    <button type="button" routerLink="/result" (click)="submit(f)" [disabled]="f.invalid"
        *ngIf="(pageNumber == quiz.length-1)" class="button success">Resultado</button>
</form>