@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

.question{
    font-size: 30px;
    margin-bottom: 1em;
  }
  .answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
  }
  .answers label{
    display: block;
    margin-bottom: 10px;
  }
  
  .slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .active-slide{
    display: block;
    opacity: 1;
  }
  .quiz-container{
    position: relative;
    height: 20em;
    margin-top: 40px;
  }
  
  @media  (max-width: 500px){
      .question{
          font-size: 20px;
        }
  
        .quiz-container{
          height: 27em;
        }
  }
  
  @media  (min-width: 501px) and (max-width: 715px){
      .question{
          font-size: 20px;
        }
  
        .quiz-container{
          height: 29em;
        }
  }
  
  @media  (min-width: 980px) and (max-width: 1120px){
      .question{
          font-size: 20px;
        }
  
        .quiz-container{
          height: 27em;
        }
  }

  input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			cursor: pointer;
			/*display: inline-block;*/
			font-size: 1em;
			font-weight: 300;
			padding-left: 2.4em;
			padding-right: 0.75em;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				/*display: inline-block;*/
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				text-transform: none !important;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				border-radius: 8px;
				border: solid 1px;
				content: '';
				/*display: inline-block;*/
				font-size: 0.8em;
				height: 2.0625em;
				left: 0;
				line-height: 2.0625em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 2.0625em;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			content: 'X';
		}

	input[type="checkbox"] + label:before {
		border-radius: 8px;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		opacity: 1.0;
	}

	:-moz-placeholder {
		opacity: 1.0;
	}

	::-moz-placeholder {
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		opacity: 1.0;
	}


   select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23dddddd' /%3E%3C/svg%3E");
  }

     select option {
      color: #636363;
      background: #ffffff;
    }

   input[type="checkbox"] + label,
   input[type="radio"] + label {
    color: #636363;
  }

     input[type="checkbox"] + label:before,
     input[type="radio"] + label:before {
      background: rgba(222, 222, 222, 0.25);
      border-color: #dddddd;
    }

   input[type="checkbox"]:checked + label:before,
   input[type="radio"]:checked + label:before {
    background-color: #636363;
    border-color: #636363;
    color: #ffffff;
  }

   input[type="checkbox"]:focus + label:before,
   input[type="radio"]:focus + label:before {
    border-color: #8cc9f0;
    box-shadow: 0 0 0 1px #8cc9f0;
  }

   ::-webkit-input-placeholder {
    color: rgba(99, 99, 99, 0.25) !important;
  }

   :-moz-placeholder {
    color: rgba(99, 99, 99, 0.25) !important;
  }

   ::-moz-placeholder {
    color: rgba(99, 99, 99, 0.25) !important;
  }

   :-ms-input-placeholder {
    color: rgba(99, 99, 99, 0.25) !important;
  }

   .formerize-placeholder {
    color: rgba(99, 99, 99, 0.25) !important;
  }