<label for="quizAnswer0" class="col-12 col-form-label">Add your options and check the correct one</label>
<div ngModelGroup="{{questionIndex}}" #answerCheckCtrl="ngModelGroup">
    <div *ngFor="let i of numbers;" class="mt-1">
        <div *ngIf="option[i]">
            <div ngModelGroup="{{i}}" class="row g-1 align-items-center">
                <div class="col-auto">
                    <input [name]="'answer'" [id]="'answer'" class="form-control" [required]="i <= defaultAnswers-1"
                        ngModel #quizAnswer="ngModel">
                    <div class="alert alert-danger" *ngIf="quizAnswer.touched && quizAnswer.invalid">
                        <div *ngIf="quizAnswer.errors?.['required']">The answer is required</div>
                        <div *ngIf="quizAnswer.errors?.['minlength']">Min lenght is
                            {{quizAnswer.errors?.['minlength'].requiredLength}}
                        </div>
                        <div *ngIf="quizAnswer.errors?.['maxlength']">Max length is
                            {{quizAnswer.errors?.['maxlength'].requiredLength}}
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <span [ngClass]="{'badge':true, 'bg-secondary':this.isChecked[i], 'bg-success':!this.isChecked[i]}"
                        (click)="check(i)">
                        <i class="bi bi-check-circle-fill"></i>
                    </span>
                </div>
                <input [name]="'check'" [id]="'check'" class="form-control" ngModel="{{!this.isChecked[i]}}"
                    #checkAnswer="ngModel" type="hidden" value={{!this.isChecked[i]}}>
                <div class="alert alert-danger" *ngIf="checkAnswer.touched && checkAnswer.invalid">
                    <div *ngIf="checkAnswer.errors?.['required']">Check the correct answer</div>
                </div>
                <div class="col-auto" *ngIf="i == defaultAnswers-1">
                    <span id="btnPlus" class="badge bg-secondary" [class.disable]="count == numberOfAnswer-1"
                        (click)="add()">
                        <i class="bi bi-plus-circle-fill"></i>
                    </span>
                </div>
                <div class="col-auto" *ngIf="i > defaultAnswers-1">
                    <span class="badge bg-secondary" (click)="exclude(i)">
                        <i class="bi bi-trash-fill"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>