@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

.question{
  font-size: 30px;
  margin-bottom: 1em;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  display: none;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  display: block;
  opacity: 1;
}
.quiz-container{
  position: relative;
  height: 20em;
  margin-top: 40px;
}

@media  (max-width: 500px){
    .question{
        font-size: 20px;
      }

      .quiz-container{
        height: 27em;
      }
}

@media  (min-width: 501px) and (max-width: 715px){
    .question{
        font-size: 20px;
      }

      .quiz-container{
        height: 29em;
      }
}

@media  (min-width: 980px) and (max-width: 1120px){
    .question{
        font-size: 20px;
      }

      .quiz-container{
        height: 27em;
      }
}