<form #form="ngForm">
    <div class="form-group">
        <div class="col-12">
            <strong style="color:black"><label for="quizTitle" class="col-12 col-form-label">Digite o nome do
                    quiz</label></strong>
            <input name="quizTitle" id="quizTitle" class="form-control" required maxlength="60" ngModel
                #quizTitle="ngModel">
            <div class="alert alert-danger" *ngIf="quizTitle.touched && quizTitle.invalid">
                <div *ngIf="quizTitle.errors?.['required']">Quiz Title is required</div>
                <div *ngIf="quizTitle.errors?.['maxlength']">Max length is
                    {{quizTitle.errors?.['maxlength'].requiredLength}}
                </div>
            </div>
        </div>
        <app-quiz-questions [numberOfQuestion]="numberOfQuestion"></app-quiz-questions>
    </div>
    <div class="btn-toolbar">
        <button type="button" (click)="add()" [disabled]="numberOfQuestion >= numberOfQuestionsAllowed"
            class="btn btn-primary mx-2">Add
            Question</button>
        <button type="button" (click)="submit(form)" class="btn btn-success">Submit</button>
    </div>
</form>