
.badge:hover {
    opacity: 0.5;
    cursor: pointer;
}

.btn-toolbar {
    margin-top: 1rem;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

textarea {
    resize: none;
    overflow:hidden;
}

#quizResult {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: block;
}

.copy {
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: aliceblue;
    text-align: justify;
}

.copy > p {
    margin: 0;
}