/* Spotlight */

.spotlight {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	margin: 0 0 2em 0;
}

	.spotlight .content {
		-moz-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}

		.spotlight .content > :last-child {
			margin-bottom: 0;
		}

		.spotlight .content header.major {
			margin: 0 0 2em 0;
		}

	.spotlight .image {
		display: inline-block;
		margin-left: 4em;
		padding: 0.65em;
		border-radius: 100%;
		border: solid 1px;
	}

		.spotlight .image img {
			display: block;
			border-radius: 100%;
			width: 16em;
		}

	@media screen and (max-width: 980px) {

		.spotlight {
			-moz-flex-direction: column-reverse;
			-webkit-flex-direction: column-reverse;
			-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
			text-align: center;
		}

			.spotlight .content {
				-moz-flex: 0 1 auto;
				-webkit-flex: 0 1 auto;
				-ms-flex: 0 1 auto;
				flex: 0 1 auto;
				width: 100%;
			}

				.spotlight .content header.major h2:after {
					margin-left: auto;
					margin-right: auto;
				}

				.spotlight .content .actions {
					-moz-justify-content: center;
					-webkit-justify-content: center;
					-ms-justify-content: center;
					justify-content: center;
					width: calc(100% + 1em);
				}

			.spotlight .image {
				-moz-flex: 0 1 auto;
				-webkit-flex: 0 1 auto;
				-ms-flex: 0 1 auto;
				flex: 0 1 auto;
				margin-left: 0;
				margin-bottom: 2em;
			}

	}

	@media screen and (max-width: 736px) {

		.spotlight .image {
			padding: 0.35em;
		}

			.spotlight .image img {
				width: 12em;
			}

	}

.spotlight .image {
	border-color: rgba(255, 255, 255, 0.35);
}


/* Main */

#main {
	background-color: #ffffff;
	color: #636363;
	border-radius: 0.25em;
}

	#main input, #main select, #main textarea {
		color: #636363;
	}

	#main a:hover {
		color: #636363;
	}

	#main strong, #main b {
		color: #636363;
	}

	#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
		color: #636363;
	}

	#main blockquote {
		border-left-color: #dddddd;
	}

	#main code {
		background: rgba(222, 222, 222, 0.25);
		border-color: #dddddd;
	}

	#main hr {
		border-bottom-color: #dddddd;
	}

	#main label {
		color: #636363;
	}

	#main input[type="text"],
	#main input[type="password"],
	#main input[type="email"],
	#main select,
	#main textarea {
		background-color: rgba(222, 222, 222, 0.25);
		border-color: #dddddd;
	}

		#main input[type="text"]:focus,
		#main input[type="password"]:focus,
		#main input[type="email"]:focus,
		#main select:focus,
		#main textarea:focus {
			border-color: #8cc9f0;
			box-shadow: 0 0 0 1px #8cc9f0;
		}

	#main select {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23dddddd' /%3E%3C/svg%3E");
	}

		#main select option {
			color: #636363;
			background: #ffffff;
		}

	#main input[type="checkbox"] + label,
	#main input[type="radio"] + label {
		color: #636363;
	}

		#main input[type="checkbox"] + label:before,
		#main input[type="radio"] + label:before {
			background: rgba(222, 222, 222, 0.25);
			border-color: #dddddd;
		}

	#main input[type="checkbox"]:checked + label:before,
	#main input[type="radio"]:checked + label:before {
		background-color: #636363;
		border-color: #636363;
		color: #ffffff;
	}

	#main input[type="checkbox"]:focus + label:before,
	#main input[type="radio"]:focus + label:before {
		border-color: #8cc9f0;
		box-shadow: 0 0 0 1px #8cc9f0;
	}

	#main ::-webkit-input-placeholder {
		color: rgba(99, 99, 99, 0.25) !important;
	}

	#main :-moz-placeholder {
		color: rgba(99, 99, 99, 0.25) !important;
	}

	#main ::-moz-placeholder {
		color: rgba(99, 99, 99, 0.25) !important;
	}

	#main :-ms-input-placeholder {
		color: rgba(99, 99, 99, 0.25) !important;
	}

	#main .formerize-placeholder {
		color: rgba(99, 99, 99, 0.25) !important;
	}

	#main ul.alt li {
		border-top-color: #dddddd;
	}

	#main dl dt {
		color: #636363;
	}

	#main header.major h2:after {
		background-color: #dddddd;
		background-image: -moz-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
		background-image: -webkit-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
		background-image: -ms-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
		background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
	}

	#main .spotlight .image {
		border-color: #dddddd;
	}

	#main > .main {
		padding: 5em 5em 3em 5em ;
		border-top: solid 1px #dddddd;
	}

		#main > .main:first-child {
			border-top: 0;
		}

		#main > .main > .image.main:first-child {
			margin: -5em 0 5em -5em;
			width: calc(100% + 10em);
			border-top-right-radius: 0.25em;
			border-top-left-radius: 0.25em;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

			#main > .main > .image.main:first-child img {
				border-top-right-radius: 0.25em;
				border-top-left-radius: 0.25em;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
			}

	@media screen and (max-width: 1280px) {

		#main > .main {
			padding: 4em 4em 2em 4em ;
		}

			#main > .main > .image.main:first-child {
				margin: -4em 0 4em -4em;
				width: calc(100% + 8em);
			}

	}

	@media screen and (max-width: 980px) {

		#main > .main {
			padding: 4em 3em 2em 3em ;
		}

			#main > .main > .image.main:first-child {
				margin: -4em 0 4em -3em;
				width: calc(100% + 6em);
			}

	}

	@media screen and (max-width: 736px) {

		#main > .main {
			padding: 3em 2em 1em 2em ;
		}

			#main > .main > .image.main:first-child {
				margin: -3em 0 2em -2em;
				width: calc(100% + 4em);
			}

	}

	@media screen and (max-width: 480px) {

		#main > .main {
			padding: 3em 1.5em 1em 1.5em ;
		}

			#main > .main > .image.main:first-child {
				margin: -3em 0 1.5em -1.5em;
				width: calc(100% + 3em);
			}

	}

	@media screen and (max-width: 360px) {

		#main {
			border-radius: 0;
		}

			#main > .main {
				padding: 2.5em 1em 0.5em 1em ;
			}

				#main > .main > .image.main:first-child {
					margin: -2.5em 0 1.5em -1em;
					width: calc(100% + 2em);
					border-radius: 0;
				}

					#main > .main > .image.main:first-child img {
						border-radius: 0;
					}

	}
